.welcome{
    margin: 4rem 6rem;
    margin-bottom: 200px;
    
}
.welcome h1{
    font-size: 3rem;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4,6rem;
   margin-bottom: 100px;
}

.dest-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;

}

.dest-text h2{
    padding-bottom: 100px;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;

    
}

.image img div{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -2px 5px 62px -18px rgba(0,0,0,0.19);
   margin-right: 5rem;

}

.image div{
    position: absolute;
    top: -20%;
    right: 0;
    margin-left: 89px;
    
}
/* .bg {
    background-image: url(C:\Users\Admin\Desktop\project\ngo\src\components\pexels-photo-7130490.webp);

} */

